<html>

<head>
  <title>
    Home page
  </title>
  <link rel="stylesheet" href="home.css">

</head>

<body>
  <!-- <nav>
            <div class="logo">
              Logo
                
            </div>
            

            <div class="action__btns">
    
                <button class="login">Login</button>
                <button class="login">Admin Login</button>
              </div>
              
        </nav>
      -->

  <div class="container">
    <div id="clg_logo">
      <img src="logo1.png" alt="logo">
    </div>
    <div class="first-rectangle">
      <h2 style="color: orange;">Kolhapur Institute of Technology's</h2>
      <h2>Colloge of Engineering (Autonomous) Kolhapur</h2>
    </div>
  </div>

  <div class="second-container">
    <div class="box">
      <img src="logo.png" alt="logo" class="logo">
      <!--<div class="link">
            <a href="#" >Admin Login</a>
            </div>
            -->
      <form action="login.html">
        <div class="action__btns">
          <button class="login">User Login</button>
        </div>
      </form>
    </div>
    <div class="box">
      <img src="logo.png" alt="logo" class="logo">
      <!--<div class="link">
              <a href="#" >Login</a>
            </div>
            -->
      <form action="login.html">
        <div class="action__btns">
          <button class="login">Admin Login</button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>