<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="option.css">
  <title>Centered Form</title>
  <style>
    img{
        border:5px solid #e2c6fd;
    }
  </style>
</head>
<body>
    <h1 align="center"  style="color:antiquewhite;">Please Select the Categories</h1>
    <div class="second-container">
        <div class="box">
          <img src="workshop.jpeg" alt="logo" class="logo">
          <!--<div class="link">
          <a href="#" >Admin Login</a>
          </div>
          -->
          <form action="#">
            <div class="action__btns"  >
      
              <button class="login">Workshop</button>
            </div>
          </form>
        </div>
        <div class="box" >
          <img src="conf.png" alt="logo"  class="logo">
          <!--<div class="link">
            <a href="#" >Login</a>
          </div>
          -->
          <form action="#">
            <div class="action__btns">
              <button class="login">Conference</button>
            </div>
          </form>
        </div>
      </div>
     
      <div class="second-container">
        <div class="box">
          <img src="research.png" alt="logo" class="logo">
          <!--<div class="link">
          <a href="#" >Admin Login</a>
          </div>
          -->
          <form action="#">
            <div class="action__btns"  >
      
              <button class="login">Research</button>
            </div>
          </form>
        </div>
        <div class="box" >
          <img src="citation.png" alt="logo"  class="logo">
          <!--<div class="link">
            <a href="#" >Login</a>
          </div>
          -->
          <form action="#">
            <div class="action__btns">
              <button class="login">Citation</button>
            </div>
          </form>
        </div>
      </div>
     
</body>
