<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Paper Publication Details </title>
    <link rel="stylesheet" href="style2.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Paper Publication Details </div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name of Faculty </span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Department </span>
            <input type="text" placeholder="Enter Department name" required>
          </div>
          <div class="input-box">
            <span class="details">Designation</span>
            <input type="text" placeholder="Enter Designation" required>
          </div>
          
          <div class="input-box">
            <span class="details">Author Or Co-author</span>
              
          
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Author</option>
            <option value="2">Co-Author</option>
            
          </select>
          </div>
        
          <div class="input-box">
            <span class="details">Name of First Author</span>
            <input type="text" placeholder="Enter First Author" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-1</span>
            <input type="text" placeholder="Enter co-author-1" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-2</span>
            <input type="text" placeholder="Enter co-author-2" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-3</span>
            <input type="text" placeholder="Enter co-author-3" required>
          </div>
          <div class="input-box">
            <span class="details">Title of Paper</span>
            <input type="text" placeholder="Enter the title of paper" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Journal</span>
            <input type="text" placeholder="Enter name of journal " required>
          </div>
         
          <div class="input-box">
            <span class="details">International or National </span>
              
          
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">International</option>
            <option value="2">National</option>
            
          </select>
          </div>
          <div class="input-box">
            <span class="details">ISSN or e-ISSN NUMBER</span>
            <input type="text" placeholder="Enter ISSN or E-ISSN Number" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Conference</span>
            <input type="text" placeholder="Enter Confreence name" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Volume</span>
            <input type="text" placeholder="Enter volume" required>
          </div>
          <div class="input-box">
            <span class="details">Enter page number</span>
            <input type="text" placeholder="Enter page number" required>
          </div>
          <div class="input-box">
            <span class="details">Month of Publication</span>
            <input type="date" placeholder="Enter month of publication " required>
          </div>
          <div class="input-box">
            <span class="details">Year of publication(YYYY)</span>
            <input type="text" placeholder="Enter Index" required>
          </div>

          <div class="input-box">
            <span class="details">Indexing </span>
            <input type="text" placeholder="Enter Indexing  " required>
          </div>
          
          
          <div class="input-box">
            <span class="details">Impact Factor</span>
            <input type="text" placeholder="Enter impact factor" required>
          </div>
          <div class="input-box">
            <span class="details">Number of Citation</span>
            <input type="text" placeholder="Enter number of citation   " required>
          </div>
          <div class="input-box">
            <span class="details">h-index</span>
            <input type="text" placeholder="Enter h-index " required>
          </div>
          <div class="input-box">
            <span class="details">i10-index</span>
            <input type="text" placeholder="Enter i10-index " required>
          </div>
          <div class="input-box">
            <span class="details">Any Financial Support </span>
              
          
          
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">YES</option>
            <option value="2">NO</option>
            
          </select>
          </div>
          <div class="input-box">
            <span class="details">Name of Organization who suppoted for finance</span>
            <input type="text" placeholder="Enter name of insituite" required>
          </div>

          <div class="input-box">
            <span class="details">Sponsored Amount</span>
            <input type="text" placeholder="Enter Amount" required>
          </div>
          <div class="input-box">
            <span class="details">Upload Certificate</span>
            <input type="file" accept=".pdf,.doc,.docx" required>
          </div>
          
              
          
          
          
          
          
        </div>
        
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>