<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Workshop </title>
    <link rel="stylesheet" href="style1.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Workshop Details</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name of Faculty </span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Department </span>
            <input type="text" placeholder="Enter Department name" required>
          </div>
          <div class="input-box">
            <span class="details">Designation</span>
            <input type="text" placeholder="Enter Designation" required>
          </div>
          
        
          <div class="input-box">
            <span class="details">Nameof workshop </span>
            <input type="text" placeholder="Enter name of workshop" required>
          </div>
          <div class="input-box">
            <span class="details">Organizing/Sponsoring Institute</span>
            <input type="text" placeholder="Enter Organizing Institute Name" required>
          </div>
          <div class="input-box">
            <span class="details">Venue of workshop</span>
            <input type="text" placeholder="Enter name of workshop venue" required>
          </div>
          <div class="input-box">
            <span class="details">Nature of Workshop</span>
            <input type="text" placeholder="Enter Nature of workshop" required>
          </div>
          <div class="input-box">
            <span class="details">Duration(Days/weeks)</span>
            <input type="text" placeholder="Enter Duration you have attended" required>
          </div>
          <div class="input-box">
            <span class="details">From date</span>
            <input type="date" placeholder="Enter From date" required>
          </div>
          
          <div class="input-box">
            <span class="details">To Date</span>
            <input type="date" placeholder="Enter To date " required>
          </div>
          <div class="input-box">
            <span class="details">Any Financial Support </span>
              
          
          
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">YES</option>
            <option value="2">NO</option>
            
          </select>
          </div>
          <div class="input-box">
            <span class="details">Name of Organization who suppoted for finance</span>
            <input type="text" placeholder="Enter name of insituite" required>
          </div>

          <div class="input-box">
            <span class="details">Amount</span>
            <input type="text" placeholder="Enter Amount" required>
          </div>
          <div class="input-box">
            <span class="details">Upload Certificate</span>
            <input type="file" accept=".pdf,.doc,.docx" required>
          </div>
          
          
          
        </div>
       
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>